<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user">

    <application>
        <activity android:name=".exitlogin.ExitActivity"></activity>

        <service
            android:name=".service.AutoService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>