<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user">

    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application>
        <service
            android:name=".autologin.UserService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".login.ExitActivity" />
        <activity android:name=".login.PersonLoginActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".register.PersonRegisterActivity" />
    </application>

</manifest>