<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiance.user">

    <application>
        <activity android:name=".login.LoginActivity"></activity>
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".UserActivity" />
        <service android:name=".AutoLoginService"/>
    </application>

</manifest>