<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiannce.user">

    <application>
        <service
            android:name=".service.AutoService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".exitLogin.ExitLoginActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
    </application>

</manifest>